/********** Base styles **********/
* {
  box-sizing: border-box;
  
}
section{
  
  
  
  float:right;
  padding: 5px 5px 5px;
  
}
.inbox{
    background-color: grey ;
    border: 2px solid black;
    padding: 0px 0px 0px;
}
h1 {
  text-align: center;
  size:175%;
  margin:30px;
  font-family:cursive;
}

p {
  color: black;
  float: right;
  clear: right;
  
  padding: 10px 10px 10px;
}
h2{
    size: 125%;
    border: 2px solid black;
    float: right;
    margin:0px;
    
    
    padding: 2px 20px 2px ;
}
.red{
    background-color: red;
    text-color: white;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.row {
  width: 100%;
}
/************** laptop devices **************/
@media (min-width: 992px) {
  .col-lg-4{
  width:33.33%;
  
  }

/********** tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
      width: 50%;
      
  }
  .col-md-12{
      width: 100%;
      
  }
}
@media (max-width:767px) {
.col-sm-12{
  width:100%;
  
  }
}
